<nav class="col-sm-3 col-md-2 sidebar">
<ul class="nav nav-pills">
    <accordion>
      <accordion-group class="nav-item" heading="Ulazi" index=0>
        <span>
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/ulazi/primke']">Primke</a>
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/ulazi/inventura']">Inventura</a>
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/ulazi/dobavljaci']">Dobavljaci</a>
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/ulazi/artikli']">Artikli</a>
        </span>
      </accordion-group>
      <hr>
      <accordion-group class="nav-item" heading="Izlazi" index=1>
        <span>
                <a class="nav-link" href="#">Izlazi stavka</a>
        </span>
      </accordion-group>
      <hr>
      <accordion-group class="nav-item" heading="Analitika" index=2>
          <span>
                <a class="nav-link" href="#">Analitika stavka</a>
          </span>
      </accordion-group>
      <hr>
      <accordion-group class="nav-item" heading="Postavke" index=3>
        <span>
              <a class="nav-link"routerLinkActive="active" [routerLink]="['/settings/globalne']">Globalne</a>
        </span>
        <span>
          <a class="nav-link"routerLinkActive="active" [routerLink]="['/settings/lokacije']">Lokacije</a>
        </span>
        <span>
          <a class="nav-link"routerLinkActive="active" [routerLink]="['/settings/slike']">Slike</a>
        </span>
    </accordion-group>
    </accordion>
  </ul>
  <!-- <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#">Ulazi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Izlazi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Analitika</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/inventura']">Inventura</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/dobavljaci']">Dobavljaci</a>
    </li>
  </ul> -->
</nav>

<!-- <accordion>
  <accordion-group class="nav-item" heading="Ulazi" index=0>
    <span>
        <a class="nav-link" href="#">Primke</a>
    </span>
  </accordion-group>
</accordion> -->