<nav class="col-sm-3 col-md-2 sidebar">
<ul class="nav nav-pills">
    <accordion>
      <accordion-group class="nav-item" heading="Ulazi" index=0>
        <span>
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/ulazi/primke']">Primke</a>
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/ulazi/inventura']">Inventura</a>
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/ulazi/dobavljaci']">Dobavljaci</a>
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/ulazi/artikli']">Artikli</a>
        </span>
      </accordion-group>
      <hr>
      <accordion-group class="nav-item" heading="Izlazi" index=1>
        <span>
                <a class="nav-link" href="#">Izlazi stavka</a>
        </span>
      </accordion-group>
      <hr>
      <accordion-group class="nav-item" heading="Analitika" index=2>
          <span>
            <a class="nav-link"routerLinkActive="active" [routerLink]="['/analitika/stanje']">Stanje Skladista</a>
          </span>
      </accordion-group>
      <hr>
      <accordion-group class="nav-item" heading="Postavke" index=3>
        <span>
              <a class="nav-link"routerLinkActive="active" [routerLink]="['/settings/globalne']">Globalne</a>
        </span>
        <span>
          <a class="nav-link"routerLinkActive="active" [routerLink]="['/settings/lokacije']">Lokacije</a>
        </span>
        <span>
          <a class="nav-link"routerLinkActive="active" [routerLink]="['/settings/slike']">Slike</a>
        </span>
    </accordion-group>
    </accordion>
  </ul>
  <hr>
  <a class="btn btn-primary" href="assets/download/Inventura.apk">Preuzmi Aplikaciju</a>
</nav>