<div class="container" *ngIf="toggle === 0">
    <div class="form-group">
        <label for="Naziv">Traži : </label>
        <input type="text" class="form-control" id="Naziv" name="naziv"  [(ngModel)]="articlename">
        <button (click)="Addnew()" class="btn btn-success btn-sm">Dodaj Artikal</button>
    </div>
  <table class="table table-hover table-fixed">
      <thead>
          <tr>
              <th>Name</th>
              <th>Odaberi</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor='let artikal of artikli | filter : "naziv" : articlename'>
          <td>{{artikal.naziv}}</td>
          <td><button (click)="onEdit(artikal)" class="btn btn-info btn-sm">Select</button></td>
        </tr>
      </tbody>
  </table>
  </div>