<div class="container-fluid">
  <app-podlokacija></app-podlokacija>
  <ul class="list-group">
    <li *ngFor='let lokacija of lokacije; let i = index' class="list-group-item">
      <div [ngClass]="{'active': selectedIndex == i, 'list-group-item': true}" (click)="setIndex(i, lokacija.id)">{{lokacija.naziv}}</div>
      <div *ngIf='selectedIndex === i' class="container">
        <hr>
        <form (ngSubmit)="SpremiLokaciju(f,lokacija.id)" #f="ngForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Naziv</label>
            </div>
            <div class="form-group col-md-6">
              <input type="text" class="form-control" id="lokacija_{{lokacija.id}}" name="lokacija_{{lokacija.id}}" placeholder="{{lokacija.naziv}}" ngModel>
            </div>
          </div>
          <button type="submit" class="btn btn-success float-right">Spremi</button>
          <br>
          <hr>
          <div class="clearfix">
            <ul class="list-group" [sortablejs]="artikliLokacija" [sortablejsOptions]="eventOptions">
              <li *ngFor='let art of artikliLokacija | filter : "location_id" : lokacija.id'class="list-group-item">{{art.id}}
                <div class="card" style="width: 8%;">
                  <img class="card-img-top" src="assets/img/articles/{{art?.img}}" alt="Card image cap">
                </div>
                <h4>{{art.name}}</h4>
              </li>
            </ul>
          </div>
          
          <hr>
          <div class="form-row">
            <div class="form-group col-md-8">
                    <label class="text" for="inputartikal">Dodaj artikle</label>
                    <select [(ngModel)]="odabraniArtikal" name="odabraniartikal" class="form-control">
                      <option *ngFor='let artikal of artikli' value="{{artikal.id}}">{{artikal.naziv}}</option>
                    </select>
            </div>
          </div>
        </form>
        <div class="form-group col-md-3">
          <button (click)="dodajArtikal(lokacija.id)" class="btn btn-primary">Dodaj</button>
        </div>
      </div>
    </li>
  </ul>
  <hr>
  <h3 class="text-center">Dodaj novu lokaciju</h3>
  <form class="form-inline" (ngSubmit)="dodajLokaciju(f)" #f="ngForm">
    <div class="form-group mx-sm-3 mb-2">
      <label for="novaLokacija" class="sr-only">Naziv</label>
      <input type="text" class="form-control" id="novaLokacija" name="novaLokacija" placeholder="Nova Lokacija" ngModel>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Kreiraj</button>
  </form>
</div>