<div class="col-6">
  <input class="form-control col-6" type="date" value="" id="Datum" name="Datum">
  <button (click)="KreirajInventuru()" type="submit" class="btn btn-default col-6 float-left">Kreiraj</button>

</div>
<br>
<br>
<accordion *ngIf="kreiraj">
    <accordion-group *ngFor='let grup of grupe' [heading]='grup.naziv' [index]='grup.id'>
      <span>
          <table class="table">
              <thead>
                    <tr>
                      <th scope="col">Artikal ID</th>
                      <th scope="col">Grupa</th>
                      <th scope="col">Artikal Naziv</th>
                    </tr>
              </thead>
              <tbody>
                    <tr *ngFor='let artikal of artikli | filter : "grupa" : grup.naziv'>
                      <td>{{artikal.id}}</td>
                      <td>{{artikal.grupa}}</td>
                      <td>{{artikal.naziv}}</td>
                    </tr>
              </tbody>
          </table>
      </span>
    </accordion-group>
</accordion>